*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background-color: gray;
}
.main_container{
    height: 600px;
    width: 1200px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}
.container{
    height: 400px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h2{
    margin: 5px 40px;
}

.box{
    background-color: rgb(241, 237, 237);
    height: 370px;
    width: 350px;
    margin-right: 20px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 15px rgb(110, 104, 104);
}
.img{
    height: 200px;
    width: 100%;
}
.img img{
    height: 100%;
    width: 100%;
}
.tag{
    background-color: rgba(0, 0, 0, 0.215);
    position: absolute;
    top: 0;
    bottom: 165px;
    left: 0;
    right: 0;
    text-align: right;
}
.tag span{
    display: inline-block;
    background-color: rgb(49, 137, 137);
    padding: 8px 15px;
    margin: 10px;
    color: white;
}
.content{
    padding: 20px 20px;
}
.right{
    padding-left: 70px;
}
.content h3, p, span{
    margin-bottom: 20px;
}
.content p{
    color: gray;
}
.magnesium{
    height: 400px;
    width: 800px;
    margin: auto;
    display: flex;
    background-color: rgb(29, 26, 26);
    color: white;
    box-shadow: 10px 10px 15px 12px rgba(71, 68, 68, 0.354);
}
.magnesium .left-content{
    height: 350px;
    width: 60%;
    margin: auto;
    position: relative;
}
.icons{
    padding-top: 20px;
    width: 400px;
    margin: auto;
    color: gray;
}
.icons p{
    font-size: 50px;
}
.icons h2{
    margin: 0;
}
.magnesium .right-content{
    height: 350px;
    width: 40%;
    position: relative;
    text-align: justify;
    padding-right: 10px;
}
.magnesium .right-content p{
    padding-top: 10px;
}
.image{
    margin-left: 50px;
    height: 200px;
    width: 400px;
    box-shadow: 0px 0px 15px 10px rgba(128, 128, 128, 0.758);
}
.image img{
    height: 250px;
    width: 400px;
    position: absolute;
    top: -50px;
}
.name-tag{
    display: inline-block;
    background-color: aqua;
    color: black;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 15px;
}
.right-content h3, .name-tag, p{
    margin: 10px 10px;
}
.name-card{
    height: 500px;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box{
    height: 405px;
    width: 300px;
    border: 2px solid;
    position: relative;
    border-radius: 15px;
    /* overflow: hidden; */
}
.picture-content{
    height: 120px;
    width: 300px;
}
.image-box{
    height: 150px;
    width: 150px;
    border: 10px solid rgb(255, 51, 51);
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 70px;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    background-color: white;
}
.content-detail{
    height: 100px;
    width: 250px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    padding: 5px 0;
}
.content-detail h3, .content-detail h4, .content-detail h5{
    padding: 10px 0;
}
.social-icons{
    height: 100px;
    width: 100%;
    margin: auto;
    display: flex;
}
.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(255, 51, 51);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}
.followers{
    height: 52px;
    width: 100%;
    /* border: 2px solid; */
    background-color: rgb(255, 51, 51);
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-card{
    height: 600px;
    width: 700px;
    margin: auto;
    
}

.card1{
    height: 250px;
    width: 600px;
    margin: auto;
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 30px;
}

.code-img{
    height: 250px;
    width: 250px;
    
}
.code-img img{
    height: 100%;
    width: 100%;
}
.code-text{
    height: 250px;
    width: 350px;
    padding: 10px 20px;
}
.code-text h2{
    margin: 0;
}
.code-text h5{
    color: gray; 
    padding-top: 8px;
}
.code-text button{
    height: 8px;
    width: 50px;
    background-color: rgb(55, 115, 95);
    border-radius: 8px;
    border: none;
}
.code-text a{
    text-align: right;
    color: aqua;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.code-card p{
    margin: 5px 0;
}

.card2 span{
    text-align: right;
    color: aqua;
    left: 50px;
    bottom: 30px;
    position: absolute;
    right: 270px;
    bottom: 10px;
}
