body,
html {
  min-height: 100vh;
  width: 100vw;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Yellow Banner */

.banner {
  position: relative;
  height: 35px;
  font-size: 12px;
  background-color: rgb(243, 243, 62);
  /* padding-bottom: 10px; */
  letter-spacing: 1px;
  line-height: 1.3;
}

.banner ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.item img {
  object-fit: cover;
}

.navbar {
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.012);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 120px;
  width: 100%;
}

nav {
  padding: 20px 50px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.navbar ul li a:hover {
  color: rgb(98, 97, 97);
}

.upper {
  padding: 25px 5px;
}

#search {
  display: none;
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 90px;

  /* padding: 50px; */
}

#search-btn {
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: none;
}

.endicons {
  display: flex;
  gap: 30px;
  /* padding-right: 40px; */
}

.my-button {
  position: absolute;
  top: 420px;
  right: 42%;
  height: 60px;
  width: 220px;
  /* background-color: black; */
  /* color: white; */
  border-radius: 30px;
  border: none;
  font-size: 19px;
  font-family: Helvetica;
}

.shop-now {
  display: inline-block;
  padding: 19px 46px;
  font-size: 19px;
  font-family: Helvetica;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #000000;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1; /* Ensure the text is above the ::before pseudo-element */
}

/* Hover effect */
.shop-now::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Initial position, fully left */
  width: 100%;
  height: 100%;
  color:black;
  background-color: #ffffff; /* New background color on hover */
  transition: left 0.3s ease;
  z-index: -1; /* Place the pseudo-element below the button content */
}

.shop-now:hover::before {
  left: 0; /* Transition to the right */
}

.shop-now:hover{
  color: rgb(0, 0, 0);
}

.slideshow .slick-dots li {
  display: flex;
  flex-direction: column;
}

.slideshow {
  position: relative;
  z-index: 1;
  height: 1280px;
  min-width: 768px;
}

.slideshow * {
  outline: none;
}

.slideshow .slider {
  box-shadow: 0 20px 50px -25px black;
}

.slideshow .slider-track {
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.slideshow .item {
  height: 100%;
  position: relative;
  z-index: 1;
}

.slideshow .item img {
  width: 100%;
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.slideshow .item.slick-active img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-animation: cssAnimation 8s 1 ease-in-out backwards;
  animation: cssAnimation 8s 1 ease-in-out backwards;
}

@keyframes cssAnimation {
  from {
    -webkit-transform: scale(1.1) translate(0px);
  }

  to {
    -webkit-transform: scale(1) translate(0px);
  }
}

@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: scale(1) translate(0px);
  }

  to {
    -webkit-transform: scale(1.1) translate(0px);
  }
}

/* .slick-dots li button:before {
  position: absolute;
  right: 0;
  top: 40%;
  color: white;
} */

.categories {
  display: flex;
  background-color: white;
  overflow-x: scroll;
}


.circle {
  /* background-color: black; */
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;

}

.categories ul li .circle img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.videobox {
  min-height: 500px;
  /* background-color: blueviolet; */
  /* width: 100vw; */
  margin: 50px 150px;

}

.vdbox {
  padding: 20px;
  text-align: center;
}

.vdo {
  height: 300px;
  width: 350px;
  border-radius: 15px;
  background-color: black;
  overflow: hidden;
}

.vdo video {
  /* height: 300px; */
  width: 100%;
  object-fit: contain;
  object-position: center;

}

.row1 {
  display: flex;
}

.row2 {
  display: flex;
}

.marqbox {
  height: 100px;
}

.marq span {
  letter-spacing: 1px;
  font-size: 40px;
  font-family: sans-serif;
  padding: 10px 5px;
}

.reverse-marq span {
  letter-spacing: 1px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px 5px;
}

.stylenav{
  display: flex;
  justify-content: space-between;
  padding: 70px ;
}

.sort a{
  text-decoration: none;
  color: grey;
  padding: 30px;
}

.sale{
  display: flex;
}
.salerow{
padding: 0 50px;
}

.saleitem{
  height: 350px;
  width: 250px;
  background-color: rgb(251, 251, 251);
  margin: 10px;
}

.sale-tag{
  background-color: yellow;
  font-size: 12px;
  padding: 3px 8px;
  position: absolute;
}

.org-price{
  color: rgb(120, 118, 118);
  font-size: 14px;
}

.portrait{
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
  /* background-color: red; */
}

.portvideo1{
height: 530px;
width: 300px;
/* background-color: red; */
/* border: 2px solid; */
border-radius: 8px;
margin: 10px;
object-fit: contain;
object-position: center;
overflow: hidden;
}

.portvideo1 video{
  height: 100%;
  width: 100%;
}

/* SHOP BY COLOR */

.shopbycolor{
  margin:30px 0 ;
  width: 100%;
  height: fit-content;
  background-color: red;
}

.end-bar {
  display: flex;
  justify-content: end;
}

.end-bar a{
  text-decoration: none;
  padding: 0 30px;
  color: grey;
}

/* CELEBS SEEN WEARING ZAYDNS */

.celeb{
  height: 270px;
  width: 100%;
  border: 1px solid;
  padding: 5px;
  overflow-x: hidden;
}

.actor-box{
  padding: 8px 0;
}

.work{
  text-align: center;
  font-size: 13px;
  padding: 8px 0;
}

.actor-name{
  font-weight: bolder;
  text-align: center;
}

.circle img{
  object-fit: fill;
  object-position: center;
}

/* ALL COLLECTIONS */

.collection{
 min-height: 1000px;
 width: 100%;
 background-color: violet;
 display: flex;
}

.collec {
  display: flex;
  flex-direction: column;
}



.colbox{
  height: 150px;
  width: 200px;
  background-color: red;
  border: 2px solid;
}