body,
html {
  min-height: 100vh;
  width: 100vw;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Yellow Banner */

.banner {
  position: relative;
  height: 35px;
  font-size: 12px;
  background-color: #f6f83e;
  /* padding-bottom: 10px; */
  letter-spacing: 1px;
  line-height: 1.3;
  display: flex;
  justify-content: center;
}

.banner ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.item img {
  object-fit: cover;
}

.navbar {
  margin-top: 10px;
  padding-right: 30px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.012);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 120px;
  width: 100%;
}

nav {
  padding: 20px 50px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.navbar ul li a:hover {
  color: rgb(98, 97, 97);
}

.upper {
  padding: 25px 5px;
}

/* Top hided search Bar */

#search {
  display: none;
  background-color: #fff;
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 90px;
}

.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search input {
  padding: 30px 480px;
  border: none;
}

#search button {
  background-color: transparent;
  border: none;
}

#search-btn {
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: none;
}

.endicons {
  display: flex;
  gap: 30px;
  /* padding-right: 40px; */
}

.my-button{
  padding: 50px;
  position: absolute;
  top: 420px;
  right: 42%;
}
.shop-now{
  font-size: 16px;
  padding: 16px 40px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  border-radius: 28px;

  
  
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition:  0.9s ease-out;

  background-color: #000;
  color: white;
  border: 1px solid black;

  overflow: hidden;
  z-index: 1;
}
.shop-now::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.9s ease-in-out;
  background-color: #fff;
  
}
.shop-now:hover::before{
  right: auto;
  left: 0;
  width: 100%;
  background-color: #fff;
  /* z-index: 1; */
}
.shop-now:hover{
  color: black;
}

/* STICKY BUTTON */

.top-button {
  bottom: 25px;
  left: 25px;
  position: sticky;
  height: 75px;
  width: 75px;
  position: sticky;
  left: 90%;
  animation-name: spin;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.top-button-img {
  background-repeat: no-repeat;
  object-fit: contain;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.slideshow .slick-dots li {
  display: flex;
  flex-direction: column;
}

.slideshow {
  position: relative;
  z-index: 1;
  min-height: 1280px;
  min-width: 768px;
}

.slideshow * {
  outline: none;
}

.slideshow .slider {
  box-shadow: 0 20px 50px -25px black;
}

.slideshow .slider-track {
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.slideshow .item {
  height: 100%;
  position: relative;
  z-index: 1;
}

.slideshow .item img {
  width: 100%;
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.slideshow .item.slick-active img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-animation: cssAnimation 8s 1 ease-in-out backwards;
  animation: cssAnimation 8s 1 ease-in-out backwards;
}

@keyframes cssAnimation {
  from {
    -webkit-transform: scale(1.1) translate(0px);
  }

  to {
    -webkit-transform: scale(1) translate(0px);
  }
}

@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: scale(1) translate(0px);
  }

  to {
    -webkit-transform: scale(1.1) translate(0px);
  }
}

.slider .slick-initialized .slick-slider .slick-dotted {
  position: relative;
}

.slick-dots {
  position: absolute;
  left: 95%;
  bottom: 51%;
  display: flex;
  flex-direction: column;
  width: 10px;
}

.categories {
  display: flex;
  background-color: white;
  overflow-x: scroll;
}

.circle {
  /* background-color: black; */
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.categories ul li .circle img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.videobox {
  min-height: 500px;
  /* background-color: blueviolet; */
  /* width: 100vw; */
  margin: 50px 150px;
}

.vdbox {
  padding: 20px;
  text-align: center;
}

.vdo {
  height: 300px;
  width: 350px;
  border-radius: 15px;
  background-color: black;
  overflow: hidden;
}

.vdo video {
  /* height: 300px; */
  width: 100%;
  object-fit: contain;
  object-position: center;
}

/* 100 OFF BANNER */

.marqbox {
  height: 100px;
  overflow: hidden;
}

.marq {
  display: flex;
  flex-direction: row;
  white-space: nowrap;

  animation-name: loop;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

.marq p {
  font-size: 42px;
  padding: 0 24px;
}
.reverse p {
  font-size: 24px;
}

@keyframes loop {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/* SHOP BY STYLE SECTION */

.row1 {
  display: flex;
}

.row2 {
  display: flex;
}

.stylenav {
  display: flex;
  justify-content: space-between;
  padding: 70px 0 0px 70px;
}

.sort a {
  text-decoration: none;
  color: grey;
  padding: 30px;
}

.sale {
  display: flex;
}

.salerow {
  padding: 0 50px;
}

.saleitem {
  height: 330px;
  width: 230px;
  background-color: rgb(251, 251, 251);
  margin: 10px;
  position: relative;
}

.sale-tag {
  background-color: yellow;
  font-size: 12px;
  padding: 3px 8px;
  position: absolute;
}

.org-price {
  color: rgb(120, 118, 118);
  font-size: 14px;
}

.portrait {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
  /* background-color: red; */
}

.portvideo1 {
  height: 530px;
  width: 300px;
  /* background-color: red; */
  /* border: 2px solid; */
  border-radius: 8px;
  margin: 10px;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}

.portvideo1 video {
  height: 100%;
  width: 100%;
}

/* SHOP BY COLOR */

.shopbycolor {
  margin: 30px 0;
  width: 100%;
  height: fit-content;
  /* background-color: red; */
}

.end-bar {
  display: flex;
  justify-content: end;
}

.end-bar ul li a {
  text-decoration: none;
  padding: 15px 30px;
  color: grey;
  position: relative;
}

.end-bar ul li a::before{
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: rgb(255, 251, 251);
  bottom: 0;
  left: 0;
  transition: width 0.5s ease;
}
li:hover a::before {
  width: 100%;
}

/* CELEBS SEEN WEARING ZAYDNS */

.celeb {
  height: 270px;
  width: 100%;
  padding: 5px;
  overflow-x: hidden;
}

.actor-box {
  padding: 8px 0;
}

.work {
  text-align: center;
  font-size: 13px;
  padding: 8px 0;
}

.actor-name {
  font-weight: bolder;
  text-align: center;
}

.circle img {
  object-fit: fill;
  object-position: center;
}

/* ALL COLLECTIONS */

.all-collection {
  min-height: 650px;
  width: 100vw;
  margin: auto;
  margin-top: 30px;
}

.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collec {
  display: flex;
  padding: 0;
  margin: 0;
}

.colbox {
  height: 260px;
  width: 290px;
  margin: 10px 10px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 10px 0;
  /* background-color: blue; */
}

.nametag {
  font-size: 14px;
  margin-top: 10px;
}

.colbox .pic {
  height: 85%;
  width: 100%;
  object-fit: contain;
  /* object-position: center; */
  overflow: hidden;
  transition: all 1.1s;
}

.colbox .pic img{
  height: 100%;
  width: 100%;
  transition : 1s ease-in-out;
}
.colbox .pic img:hover {
  transform: scale(1.2);
  transition : 1s ease-in-out;
}

.rating-div {
  height: 150px;
  width: 100vw;
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-box {
  height: 100px;
  width: 190px;
  border: 0.5px solid rgb(137, 130, 130);
  border-radius: 8px;
  padding-top: 5px;
  text-align: center;
  overflow: hidden;
}

/* Why choose Zaydn */

.choose-section {
  display: flex;
  height: 350px;
  width: 1200px;
  margin: 30px 100px;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  overflow: hidden;
  
}

.image-section {
  width: 550px;
  height: 350px;
  overflow: hidden;
}
.image-section img{
  height: 100%;
  width: 100%;
  transition : 1s ease-in-out;
}

.image-section img:hover {
  transform: scale(1.1);
  transition : 1s ease-in-out;
}

.title-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-right: 190px;
}

/* Last slider */

.properties {
  min-height: 70px;
  width: 1000px;
  border: 1px solid yellow;
  margin: 20px 160px;
}

.properties .slidetoggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: white;
  border: none;
  font-size: 18px;
}

.lower-slider{
  margin: 50px 0;
}

.footer{
 margin: 90px 30px;
}

.footer ul li a{
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.footer ul li a:hover{
  color: grey;
}