
.container{
    height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-columns:(1fr,6);
    grid-template-rows: (1fr,8);
}

.box{
    border: 2px solid red;
    text-align: center;
}

@media only screen and (min-width:769px)
{
.header{
    background-color: red;
   grid-column-start: 1;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 2;
}

.navigation{
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.sidebar{
    background-color: violet;
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 7;
}

.main{
    background-color: aqua;
    grid-column-start:2 ;
    grid-column-end: 5;
    grid-row-start:3;
    grid-row-end:7 ;
}

.ads{
    background-color: brown;
    grid-column-start:5 ;
    grid-column-end:6 ;
    grid-row-start:2 ;
    grid-row-end:7 ;
}

.footer{
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end:8;
}
}

/* FOR TABLET */

@media only screen and (min-width:321px) and (max-width: 768px){
    .header{
        background-color: red;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .navigation{
        background-color: blue;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .sidebar{
        background-color: violet;
        grid-column-start:1 ;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 7;
    }

    .main{
        background-color: aqua;
        grid-column-start:2 ;
        grid-column-end: 6;
        grid-row-start:3;
        grid-row-end:7 ;
    }

    .ads{
        background-color: brown;
        grid-column-start:1 ;
        grid-column-end:2 ;
        grid-row-start:7;
        grid-row-end:8 ;
    }
    .footer{
        background-color: green;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end:8;
    }
} 

/* FOR MOBILE */

@media only screen and (max-width: 320px){
    .header{
        background-color: red;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .navigation{
        background-color: blue;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .sidebar{
        background-color: violet;
        grid-column-start:1 ;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .main{
        background-color: aqua;
        grid-column-start:1 ;
        grid-column-end: 6;
        grid-row-start:3;
        grid-row-end:5;
    }

    .ads{
        background-color: brown;
        grid-column-start:1 ;
        grid-column-end:6 ;
        grid-row-start:6;
        grid-row-end:7 ;
    }
    .footer{
        background-color: green;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end:8;
    }

}

