@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.sidebar {
  background-color: rgb(15, 15, 42);
  color: white;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar h1 {
  padding: 8px 0;
  letter-spacing: 3px;
  font-style: italic;
}
ul{
  height:100vh;
  overflow-y:scroll ;
}

ul li {
  padding: 10px;
  text-align: center;
}

ul li:hover {
  background-color: #98abee;
  border-left: 10px solid #1d24ca;
  transition: all 500ms;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  /* padding: 40px; */
}

.container {
  background-color: rgb(202, 238, 252);
  width: calc(100%-300px);
  margin-left: 300px;
}

.container h1 {
  font-weight: 400;
  font-size: 50px;
}

.banner {
  height: 350px;
  width: 100%;
  background-image: url("./components/images/banner.jpg");
  background-size: cover;
  padding: 24px;
  color: white;
}

.content {
  padding: 24px;
}
.content h2 {
  font-size: 28px;
  padding: 15px 0;
}

.services {
  display: flex;
  gap: 20px;
}
.service {
  background-color: white;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
}
.service h3 {
  padding: 10px 0;
}

.index {
  height: 300px;
  width: 300px;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

.index .border {
  border: 20px double #98abee;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}
.index img {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -50px;
  right: -100px;
  z-index: 1;
}
.text {
  position: absolute;
  z-index: 1;
  margin-left: 20px;
}
.cards {
  margin: 30px 10px;
  display: flex;
  gap: 24px;
}
.card {
  background-color: white;
  height: 400px;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.picture {
  height: 180px;
  width: 300px;
}
.picture img {
  width: 100%;
  height: 100%;
}

.tag {
  width: 90px;
  margin: 20px 10px;
  background-color: rgb(66, 152, 152);
  color: white;
  padding: 2px 0px;
  border-radius: 5px;
  text-align: center;
}
.bg-color2 {
  background-color: rgb(225, 123, 225);
}
.bg-color3 {
  background-color: rgb(166, 239, 154);
}
.details {
  padding: 0 10px;
}

.details h5 {
  padding: 10px 0;
  font-weight: 300;
}
.profile {
  display: flex;
}
.profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.profile h5 {
  padding: 0 10px;
  font-weight: 500;
}
.cards2 {
  display: flex;
  gap: 24px;
  padding: 20px 10px;
}
.card2 {
  height: 400px;
  width: 300px;
  background-image: url("./components/images/develop1.jpg");
  background-size: cover;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.allcontent {
  padding: 5px 10px;
  width: 300px;
  color: white;
  z-index: 1;
  position: absolute;
}
.template {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.678);
}
.date {
  height: 200px;
  text-align: right;
  /* color: white; */
}
.allcontent h4 {
  font-weight: 100;
}

.bgimage {
  background-image: url("./components/images/develop2.jpg");
}
.bgimage2 {
  background-image: url("./components/images/develop3.jpg");
}

.highlight {
  display: inline-block;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.267);
  padding: 3px 10px;
  border-radius: 10px;
}

.heading {
  background-color: #98abee;
  padding: 10px 50px;
  color: white;
}

.products {
  margin: 20px 10px;
  display: flex;
  gap: 24px;
}

.product {
  height: 300px;
  width: 300px;
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
}

.image {
  height: 180px;
  width: 100%;
}

.image img {
  width: 100%;
  height: 100%;
}
.name {
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 5px 0;
}
.rating {
  text-align: center;
}
.colorstar {
  color: gold;
}
.colorwhite {
  color: white;
}
.price {
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

/* FIXED BUTTON */

.fixed{
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.fixed img{
  height: 50px;
}

/* Matter */

.sticky{
  min-height: 650px;
  width: 100%;
  display: flex;
  padding: 20px;
  margin-top: 50px;
  background-color: whitesmoke;
}

.matter p{
  width: 550px;
  font-size: 20px;
}

.stickyimage{
  height: 300px;
  width: 300px;
  position: sticky;
  right: 50px;
  top: 0;
  margin-left: 20px;
}

.stickyimage img{
  width: 100%;
}
.matterimages{
  display: flex;
}
.matterimage{
  height: 150px;
  width: 200px;
  padding: 20px;
  
}
.matterimage img{
  height: 100%;
  width: 100%;
  
}
.stickyimage .layer{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #afbdf079;
}